<head>
  <title>Danify</title>
  <link href="../../public/main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="title">Danify</h1>
</body>
