
<marquee scrollamount="20" bgcolor="pink"><h2>Welcome to Danify!</h2></marquee>
<marquee scrollamount="20" direction="right" bgcolor="bisque"><h2>for all things Dan</h2></marquee>

<div class='container'>
    {{#each users}}
        <div class='dan-list'>
            <a href='/profile/{{id}}'><img class='img-dan' src='{{image}}' alt='{{name}}'></a>
        </div>
    {{/each}}
</div>

<a href='/add/'><button>Become Dan!</button></a>